# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.zip
*.tar.gz
*.mp4
*.iso
*.db
*.sqlite3
# Virtual environments
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment files
.env

# Logs
*.log

# Docker
*.pid
*.sock
*.log
*.db
*.tar
*.bak

# IDEs / Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
minikube-linux-amd64
